{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h1>Actualite index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Texte</th>
            <th>Publish_date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for actualite in pagination %}
            {% if actualite.published == 1 %}
            <tr>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.texte }}</td>
                <td>{{ actualite.publishDate ? actualite.publishDate|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a class="btn btn-outline-dark m-2" href="{{ path('app_liste_actualites_show', {'id': actualite.id}) }}">show</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
