{% extends 'base.html.twig' %}

{% block title %}Delegation index{% endblock %}

{% block body %}
    <h1>Delegation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delegation in pagination %}
            <tr>
                <td>{{ delegation.id }}</td>
                <td>{{ delegation.nom }}</td>
                <td>
                    <a class="btn btn-outline-dark m-2" href="{{ path('app_delegation_show', {'id': delegation.id}) }}">show</a>
                    <a class="btn btn-outline-dark m-2" href="{{ path('app_delegation_edit', {'id': delegation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark m-2" href="{{ path('app_delegation_new') }}">Create new</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
