{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in pagination %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.debut ? evenement.debut|date('d-m-Y H:i') : '' }}</td>
                <td>{{ evenement.fin ? evenement.fin|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a class="btn btn-outline-dark m-2" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a class="btn btn-outline-dark m-2" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark m-2" href="{{ path('app_evenement_new') }}">Create new</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
