{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ evenement.nom }}</td>
        </tr>
        <tr>
            <th>Debut</th>
            <td>{{ evenement.debut ? evenement.debut|date('d-m-Y H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ evenement.fin ? evenement.fin|date('d-m-Y H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ evenement.ville }}</td>
        </tr>
        <tr>
            <th>Sport</th>
            <td>{{ evenement.sport }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark m-2" href="{{ path('app_liste_evenements') }}">back to list</a>
{% endblock %}
